.img-background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(20px);
  transform: scale(1.1);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
