body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 100;
  src: local("yekanbakh"),
    url(./Fonts/Yekan-Bakh-EN-Light.ttf) format("opentype");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 300;
  src: local("yekanbakh"),
    url(./Fonts/Yekan-Bakh-EN-Regular.ttf) format("opentype");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 500;
  src: local("yekanbakh"),
    url(./Fonts/Yekan-Bakh-EN-Medium.ttf) format("opentype");
}
@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: local("yekanbakh"),
    url(./Fonts/Yekan-Bakh-EN-Bold.ttf) format("opentype");
}
@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 700;
  src: local("yekanbakh"),
    url(./Fonts/Yekan-Bakh-EN-Heavy.ttf) format("opentype");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 800;
  src: local("yekanbakh"), url(./Fonts/Yekan-Bakh-EN-Fat.ttf) format("opentype");
}
