.answerItem {
  height: 75px;
  border-radius: 44px;
  background-color: #df5e88;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-family: YekanBakh;
  font-size: 30px;
  color: #e3e3e3;
  margin-top: 10px;
  width: fit-content;
}
.txt-main-crm {
  color: #e3e3e3;
  font-size: 46px;
  font-family: YekanBakh;
  font-weight: 600;
}
